Django==1.10.5
django-allauth==0.30.0
django-bootstrap-pagination==1.6.2
django-bootstrap3==8.2.1
django-crispy-forms==1.6.1
django-forms-bootstrap==3.0.1
django-social-auth==0.7.28
gunicorn==19.7.0
httplib2==0.10.3
oauth2==1.9.0.post1
oauthlib==2.0.1
packaging==16.8
pyparsing==2.1.10
python-openid==2.2.5
requests==2.13.0
requests-oauthlib==0.8.0
whitenoise==3.3.0
