{% extends 'base.html' %}

{% block content %}

{#    <div class="col-sm-6 col-sm-offset-3">#}
        <div class="container">
            <div class="jumbotron">
                <p>
                    Thank you very much for visiting my project! Here you can
                    create some tasks that you have to do in some certain day.
                    You can create separated tasks and tasks in list, I call it todo-list :)
                </p>
                <p>
                    For using this web-project you have to create you own account.
                    You can do it in few clicks if you have account in Facebook or Google+
                </p>
                <p>
                    I created this small cute site with Python, Django, Bootstrap and jQuery.
                    There is my first large experience with Django.
                    Please, don't judge me strictly.
                </p>
                <p>
                    If you have any questions you can write to my emali: kokovych@gmail.com
                    , my <a href="https://twitter.com/bohdankokovych">twitter</a> or my
                    <a href="https://facebook.com/kokovych">facebook</a>. Thank you for your attention :)
                </p>
            </div>
        </div>
{#    </div>#}
{% endblock content %}