{% extends 'base.html' %}

{% block content %}

{#    <div class="col-sm-6 col-sm-offset-3">#}
        <div class="container">
            <div class="jumbotron">
                <p>
                    My name is Bohdan Kokovych, I am from Ukraine.
                    I like to do cool things with Python, Django etc.
                </p>
                <p>
                    My emali <i class="fa fa-envelope-o" aria-hidden="true"></i> : kokovych@gmail.com <br>
                    My <a href="https://twitter.com/bohdankokovych" > <i class="fa fa-twitter" aria-hidden="true"></i>twitter</a> <br>
                    My <a href="https://facebook.com/kokovych" ><i class="fa fa-facebook-official" aria-hidden="true"></i> facebook</a>. <br>
                    My <a><i class="fa fa-skype" aria-hidden="true"></i></a> skype: patriot-in-dnepr <br>
                    Thank you for your attention :)
                </p>
            </div>
        </div>
{#    </div>#}
{% endblock content %}