{% extends 'base.html' %}

{% block content %}


            <div  class="container">
                <div align="center">
                    <h2> {{title}}</h2>
                    <form method="get"  action="{% url 'todo:create_todo' %}">
                        <button class=" btn btn-primary" > <i class="fa fa-check-square-o" aria-hidden="true"></i> create task </button>
                    </form>
                </div>
            </div>

            <div class="col-sm-6 col-sm-offset-3">
            <hr>
            <div class="container-fluid">
                <div class="col-sm-4">
                    <form method="get"  action="{{ title.get_edit_url }}">
                        <button class=" btn btn-warning" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> update list </button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form method="get"  action="{{ title.get_delete_url }}">
                        <button class=" btn btn-danger" ><i class="fa fa-trash-o" aria-hidden="true"></i> delete list </button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form method="get"  action="{% url 'create_list' %}">
                        <button class=" btn btn-info" > <i class="fa fa-check-square-o" aria-hidden="true"></i> create list </button>
                    </form>
                </div>
            </div>
            <hr>

                {% for item in all_fields  %}

                        <div class="jumbotron">
                        <ul>
                            <li> what_todo :{{ item.what_todo }}</li>
                            <li> action_status: {{ item.action_status }}</li>
                            <li> action_list: {{ item.action_list }}</li>
                            <li> execution_date :{{ item.execution_date }}</li>
                            <li> timestamp: {{ item.timestamp }}</li>
                            <li> user: {{ item.user }}</li>

                            <small>{{ item.timestamp| timesince }} ago <span style="color: #003366">Status: <strong>{{ item.action_status }}</strong></span></small>
                            <div class="row">

                                <div class="col-sm-5">
                                    <form method="get"  action="{{ item.get_edit_url }}">
                                        <button class=" btn btn-warning" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit </button>
                                    </form>
                                </div>
                                <div class="col-sm-5">
                                    <form method="get"  action="{{ item.get_delete_url }}">
                                        <button class=" btn btn-danger" > <i class="fa fa-trash-o" aria-hidden="true"></i> delete </button>
                                    </form>
                                </div>
                            </div>
                            </ul>
                        </div>

                {% endfor %}


        </div>

{% endblock content %}
